* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: #1f3e5f;
    text-align: center;
}

table {
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 90%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin: 50px auto;
}

th {
    background: #fff;
    padding: 10px 20px;
}

th,
td {
    color: #1f3e5f;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #1f3e5f;
    width: 50%;
}

th:first-child,
td:first-child {
    text-align: left;
}

td {
    padding: 10px 20px;
    background: #fff;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

tr:last-child th {
    border-bottom: none;
}

a {
    text-align: center;
}
